rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // ⚠️ WARNING: EMULATOR ONLY!! 

    match /grading-jobs-public/{jobId} {
      allow read, update: if true;
      allow create, delete: if false; 
    }

    match /grading-jobs-internal/{jobId} {
      allow read, update: if true;   
      allow create, delete: if false; 

    match /{document=**} {
      allow read, write: if false; 
    }
  }
}
