rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // emulator dev only
    // TODO update this if we want to test perms
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
